{% extends "base_generic.html" %}

{% block content %}
  <div class="page-header">
		<h1>About Museum Patrons<br>
		<small>Museum Patrons is a Museum Hack Project</small>
		</h1>
	</div>

  <p>At <a href="https://museumhack.com/">Museum Hack</a> we are fascinated by museums and cultural institutions of all sizes including their fundraising and development efforts.</p>

  <p>Museum Patrons makes information about museum patrons and donors more accessible. The sources used are publicly available and made open to the public by each institution. We hope it serves as a useful tool and resource to development professionals and others dedicated to supporting and growing museums. As a new resource, <a href="http://museumpatrons.com/institution/the-metropolitan-museum-of-art/">The Metropolitan Museum of Art</a> in New York City is the primary focus of this project. New museums and institutions may be added soon.</p><br>
   
  <h4>About Museum Hack</h4>
   
  <p><a href="https://museumhack.com/">Museum Hack</a> is a team of experienced consultants that create non-traditional, highly interactive, intimate museum experiences. We work with museums around the world to develop programs that engage and retain young patrons, corporate audiences and high net worth donors. We approach collections with a well-researched, fact-based "reverent irreverence" to reveal the amazing stories in museums and fight "museum fatigue" through storytelling, photo challenges, and engaging activities.</p> 
   
  <p>We also develop programs customized to the needs of audiences and teams to ensure that each and every guest actively participates in the creation and meaning of their museum experience.</p>
   
  <p>Learn more about our <a href="https://museumhack.com/audience_development/">Audience Development</a> services for museums and <a href="https://museumhack.com/consulting/">Corporate Consulting</a> for businesses and organizations.</p><br>
   
  <h4>Questions &amp; Feedback:</h4>
   
  <p>If you have feedback, suggestions and ideas to improve this resource, please email us.</p>
   
  <p>If you’d like to talk about fundraising and audience development, including data in this project please contact us.</p>
   
  <p>If you are a patron/donor and want your data removed, please send us an email.</p><br>
   
  <h4>Contact us:</h4>
   
  <p><a href="mailto:info@museumhack.com?subject=Museum%20Patrons">info@museumhack.com</a></p>
   
  <p>Postal mail can be sent to: Museum Hack c/o Nick Gray,  27 West 10th St #5, NY NY 10011</p>

{% endblock %}
