{% extends "base_generic.html" %}

{% block content %}
<h1>Museum Donor List</h1>

  <p>Welcome to <em>MuseumList</em>.</p>

<h2>Dynamic content</h2>

  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Donors:</strong> {{ num_donors }}</li>
    <li><strong>Donations:</strong> {{ num_donations }}</li>
    <li><strong>Donation Groups:</strong> {{ num_donorgroups }}</li>
    <li><strong>Museums &amp; Institutions:</strong> {{ num_institutions }}</li>
  </ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}
