.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#maincontainer {
	background-color: #fff;
}

.noborder * {
	border-top:0px !important;
}

#persondetail th span {
	text-decoration: underline;
	cursor: pointer;
}

table {
    table-layout: fixed;
}

.page-header .header-thumb img {
	margin-right: 10px;
	width:100px;
	height:100px;
}
.page-header span {
	display: inline-block;
	vertical-align: middle;
}