{% extends "base_generic.html" %}

{% block content %}
    <h1>All Borrowed Books!</h1>

    {% if bookinstance_list %}
    <!-- the_model_name_list -->
    <ul>

      {% for bookinst in bookinstance_list %}
      <li>
        <a href="{{ bookinst.get_absolute_url }}">{{ bookinst.book }}</a> <span class="{% if bookinst.is_overdue %}text-danger{% endif %}">({{bookinst.due_back}}) - {{bookinst.borrower}}</span> 

        {% if perms.catalog.can_mark_returned %}- <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>  {% endif %}

      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
{% endblock %}