{% extends "base_generic.html" %}

{% block content %}
  <div class="page-header">
    <h1>All Donor Groups</h1>
    <p>{{ num_donorgroups }} results</p>
  </div>
  {% if donorgroup_list %}

  <table class="table table-hover noborder">
    <tr>
      <th>Name</th>
      <th>Museum</th>
    </tr>
    {% for donorgroup in donorgroup_list %}
    <tr>
      <td><a href="{{ donorgroup.get_absolute_url }}">{{ donorgroup.name }}</a></td>
      <td>{{donorgroup.institution}}</td>
    </tr>
    {% endfor %}
  </table>

  {% else %}
    <p>There are no donor groups.</p>
  {% endif %} 

{% include 'catalog/pagination.html' %}

{% endblock %}