{% extends "base_generic.html" %}

{% block content %}
  <div class="page-header">
    <!-- <img src="http://fpoimg.com/200x200?text=Advertisement" class="img-rounded" > -->
    <!-- <div class="thumbnail pull-left"> -->
    <!-- </div>   -->
    <span class="header-thumb">
      <h1><img src="{{institution.image}}" alt="{{ institution.name }}" class="img-circle"></h1>
    </span>
    <span>
      <h1>{{ institution.name }}</h1>
      <p>{{ institution.city }}</p>
    </span>
    <br><br><p>{{institution.desc}}</p><br>
  </div>

  <br>
  <h4>Top 5 Donors, Based on Repeat Mentions</h4>
  <table class="table table-hover noborder">
    {% for institution_donor in institution_donors %}
    <tr>
        <td><a href="{% url 'person-detail' institution_donor.pk %}">{{institution_donor}} ({{institution_donor.num_donations}})</td>
    </tr>
    {% endfor %}  

    {% if institution_donors|length >= 5 %} <tr><td><b><a href="{% url 'institution-donors' institution.slug %}">(See All Donors)</a></b></td></tr>{% endif %}
  </table>

  <br>
  <h4>Donor Group and Special Events</h4>
  <table class="table table-hover noborder">
    {% for institution_donorgroup in institution_donorgroups %}
    <tr>
        <td><a href="{% url 'donorgroup-detail' institution_donorgroup.pk %}">{{institution_donorgroup.name}}</td>
    </tr>
    {% endfor %}  
  </table>

  <br>
  <h4>Donor Lists</h4>
  <table class="table table-hover noborder">
    {% for institution_donor_list in institution_donor_lists %}
    <tr>
        <td>{{institution_donor_list.donation_list}}</td>
    </tr>
    {% endfor %}  
  </table>

{% endblock %}