{% extends "base_generic.html" %}

{% block content %}
  <div class="page-header">
    <h1>All Museum Donors</h1>
    <p>{{ num_donors }} results</p>
  </div>
  {% if person_list %}

  <!-- <p class="hidden">Length: {{ person_list|length }}</p> -->

  <table class="table table-hover noborder">
    <tr>
      <th><a href="?orderby=-name{% for key,value in request.GET.items %}{% ifnotequal key 'orderby' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Name</a> <a href="?orderby=-num_donations{% for key,value in request.GET.items %}{% ifnotequal key 'orderby' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">(donations)</a></th>
      <th>Most recent donation</th>
    </tr>
    {% for person in person_list %}
    <tr>
      <td><a href="{{ person.get_absolute_url }}">{{ person.name }} ({{person.get_num_donation}})</a></td>
      <td>{{person.get_most_recent_donation}}</td>
    </tr>
    {% endfor %}
  </table>

  {% else %}
    <p>There are no donors.</p>
  {% endif %} 

{% include 'catalog/pagination.html' %} 

{% endblock %}