{% extends "base_generic.html" %}

{% block content %}

<p>upload csv</p>

<button type="button" class="btn btn-disabled" id="importJsonBtn">Import JSON</button>	
<input type="file" id="file-input" style="display:none"/>


<!-- 
<form enctype="multipart/form-data" action="/upload/image" method="post">
    <input id="image-file" type="file" />
    <input id="image-file-submit" type="submit" />
</form>
 -->


<!--  <form action="/catalog/uploadcsv/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}

    <input type="file" name="csv_file" />
    <input type="submit" value="Upload" />

</form>
 -->



{% endblock%}